{% comment %}
** Article (blog post) - main content area **
- Template section
- Uses blocks
{% endcomment %}

{% comment %} Check to see if sidebar should be enabled {% endcomment %}
{% if section.blocks.size > 0 %}
  {%- assign sidebar = true -%}
{% else %}
  {%- assign sidebar = false -%}
{% endif %}

{%- assign tag_count = blog.all_tags | size -%}
{%- assign tag_threshold = section.settings.tag_threshold -%}

{% paginate article.comments by 100 %}
  <section class="section">
    <div class="container main">
      <div class="{% if section.settings.blog_tags and tag_count > tag_threshold %}four-fifths columns{% else %}one-whole column{% endif %} medium-down--one-whole">
        <div class="collection_title {% if section.settings.blog_tags and tag_count < tag_threshold %}collection_title_tags{% endif %}">
          <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
        </div>

        {% if section.settings.blog_tags %}
          {% if tag_count < tag_threshold %}
            <ul class="collection_menu">
              <li>
                <a href="{{ blog.url }}">{% if current_tags %}{{ 'blogs.general.view_all' | t }}{% else %}<span class="active">{{ 'blogs.general.view_all' | t }}</span>{% endif %}</a>
              </li>

              {% for tag in blog.all_tags %}
                <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </div>

      {% if section.settings.blog_tags %}
        <div class="one-fifth column medium-down--one-whole section_select tag_filter" {% if tag_count >= tag_threshold %}style="display:block"{% endif %}>
          <select name="tag_filter" id="tag_filter" class="blog_filter" {% if tag_count < tag_threshold %}style="display:none"{% endif %}>
            <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>

            {% for tag in blog.all_tags %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}

      <div class="one-whole column collection_nav {% if article.image and section.settings.slideshow_article_enabled %}feature_banner{% endif %}"></div>
    </div>
  </section>

  {% if article.image and section.settings.slideshow_article_enabled %}
    <div class="banner-section dark-overlay-{{ section.settings.slideshow_post_darken }}">
      {% render 'image-element',
              image: article.image,
              alt: article.image.alt,
              stretch_width: true,
              additional_classes: 'banner-section__image'
      %}

      <div class="banner-section__caption">
        <div class="container">
          <div class="five-eighths columns offset-by-three text-align-center">
            <h1 class="banner-section__caption-headline">{{ article.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <section class="section">
    <div class="content-wrapper content-wrapper--article sidebar-enabled--{{ sidebar }} container">
      <div class="has-sidebar-option">
        <div class="container">
          {% if section.settings.blog_tags %}
            <div class="one-whole column">
              <div class="blog_meta tags">
                {% for tag in article.tags %}
                  <span>
                    <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                  </span>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% unless article.image and section.settings.slideshow_article_enabled %}
            <div class="one-whole column">
              <h1 class="article_name">{{ article.title }}</h1>
            </div>
          {% endunless %}

          <div class="one-whole column">
            <p class="blog_meta">
              {% if section.settings.blog_author %}
                <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}

              {% if section.settings.blog_date %}
                <span>{{ article.published_at | date: format: "month_day_year" }}</span>
              {% endif %}

              {% if section.settings.blog_comment_count %}
                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif article.comments_enabled? and article.comments_count > 0 %}
                  <span>
                    <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                  </span>
                {% endif %}
              {% endif %}
            </p>
          </div>

          {% if article.image and section.settings.slideshow_article_enabled == false %}
            <div class="one-whole column">
              {% render 'image-element',
                      image: article.image,
                      alt: article.image.alt
              %}
            </div>
          {% endif %}

          <div class="one-whole column">
            {{ article.content }}
          </div>

          {% if section.settings.display_social_buttons %}
            <div class="one-whole column">
              <br />
              {% render "social-buttons", context: 'article' %}
              <br />
            </div>
          {% endif %}

          {% if section.settings.blog_author %}
            <div class="one-whole column">
              <hr />
            </div>

            <div class="one-whole column is-flex is-wrap">
              <div class="blog__author is-flex is-align-center">
                <div class="blog__author-image" data-email="{{ article.user.email }}">
                  <img src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=160&r=G" alt="{{ article.author }}" />
                </div>

                <div class="blog__author-bio">
                  <h6 class="blog__author-name">{{ article.author }}</h6>

                  <p class="meta">
                    <span class="label">{{ 'blogs.article.author' | t }}</span>
                  </p>

                  {% if article.user.bio != blank %}
                    <p>{{ article.user.bio }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}

          <div id="comments"></div>

          <br />

          {% if settings.disqus_enabled %}
            <div id="disqus_thread"></div>

            <script>
              var disqus_config = function () {
                this.page.url = "{{ canonical_url }}";
                this.page.identifier = "{{ article.id }}";
              };

              (function() {
                var d = document, s = d.createElement('script');
                s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>

            <noscript>
              Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
            </noscript>
          {% elsif blog.comments_enabled? %}
            {% if article.comments_count > 0 %}
              <div class="one-whole column">
                <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>
              </div>

              {% for comment in article.comments %}
                <div id="comment-{{ comment.id }}" class="blog__comment">
                  <div class="one-whole column is-flex is-flex-wrap">
                    <div class="blog__comment-author is-flex" data-email="{{ comment.email }}">
                      <div class="blog__comment-author-image is-hidden-mobile-only">
                        <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=160&r=G" alt="{{ comment.author }}" />
                      </div>

                      <div class="blog__comment-author-bio">
                        <h6 class="blog__comment-author-name">{{ comment.author }}</h6>

                        <p class="meta">
                          <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                        </p>

                        {{ comment.content }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            <div class="one-whole column">
              {% render 'pagination',
                      sidebar: sidebar,
                      paginate: paginate
              %}


              <div id="new-comment"></div>

              <h4 class="title">{{ 'blogs.comments.title' | t }}</h4>

              {% if blog.moderated? %}
                <p>
                  <em>{{ 'blogs.comments.moderated' | t }}</em>
                </p>
              {% endif %}

              {% form article %}
                {% if form.posted_successfully? %}
                  <div class="comment-form__success">
                    {% if blog.moderated? %}
                      <p class="comment-form__success-message">{{ 'blogs.comments.success_moderated' | t }}</p>
                    {% else %}
                      <p class="comment-form__success-message">{{ 'blogs.comments.success' | t }}</p>
                    {% endif %}
                  </div>
                {% endif %}

                {% if form.errors %}
                  <div class="comment-form__error">
                    <p class="comment-form__error-message">{{ 'general.forms.post_error' | t }}</p>
                  </div>
                {% endif %}

                <div class="comment-form__name">
                  <label for="comment_author">{{ 'blogs.comments.name' | t }} <span class="red">*</span></label>
                  <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
                </div>

                <div class="comment-form__email">
                  <label for="comment_email">{{ 'blogs.comments.email' | t }} <span class="red">*</span></label>
                  <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
                </div>

                <div class="comment-form__body">
                  <label for="comment_body">{{ 'blogs.comments.comment' | t }} <span class="red">*</span></label>
                  <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>
                </div>

                <div class="comment-form__submit">
                  <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="action_button add_to_cart" />
                </div>
              {% endform %}
            </div>
          {% endif %}

          {% if section.settings.blog_additional_articles and blog.articles_count > 1 %}
            <div class="one-whole column">
              <hr />
              <h3>{{ 'blogs.article.additional_articles' | t: title: blog.title }}</h3>
            </div>

            {%- assign article_found = false -%}

            {% for a in blog.articles limit: 4 %}
              {%- assign skip_article = false -%}

              {% if article_found == false and forloop.last %}
                {%- assign skip_article = true -%}
              {% endif %}

              {% if article.id == a.id %}
                {%- assign article_found = true -%}
                {%- assign skip_article = true -%}
              {% endif %}

              {% unless skip_article %}
                <div class="one-third column medium-down--one-whole article">
                  {% if a.image %}
                    <a href="{{ a.url }}" title="{{ a.title | escape }}">
                      {% render 'image-element',
                              image: a.image,
                              alt: a.image.alt
                      %}
                    </a>
                  {% endif %}

                  {% if section.settings.blog_tags %}
                    <div class="blog_meta tags">
                      {% for tag in a.tags %}
                        <span>
                          <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                        </span>
                      {% endfor %}
                    </div>
                  {% endif %}

                  <h5 class="sub_title">
                    <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
                  </h5>

                  <p class="blog_meta">
                    {% if section.settings.blog_author %}
                      <span>{{ 'blogs.article.by_author' | t: author: a.author }}</span>
                    {% endif %}

                    {% if section.settings.blog_date %}
                      <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                    {% endif %}

                    {% if settings.disqus_enabled %}
                      <span>
                        <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                      </span>
                    {% elsif a.comments_enabled? and a.comments_count > 0 %}
                      <span>
                        <a href="{{ a.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}</a>
                      </span>
                    {% endif %}
                  </p>

                  {% if a.excerpt != blank %}
                    {%- assign postexcerpt = a.excerpt | size -%}

                    {% if postexcerpt > 100 %}
                      {%- assign excerptlength = 'lg' -%}
                    {% elsif postexcerpt <= 50 %}
                      {%- assign excerptlength = 'sm' -%}
                    {% endif %}

                    <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                      {{ a.excerpt }}
                      <span class="truncation-fade"></span>
                    </div>
                  {% endif %}

                  {% if section.settings.read_more_link %}
                    <p class="continue_reading">
                      <a href="{{ a.url }}" title="{{ a.title | escape }}" {% if settings.read_more_style == 'button' %}class="action_button"{% endif %}>{{ 'blogs.general.continue_reading_html' | t }}</a>
                    </p>
                  {% endif %}
                </div>
              {% endunless %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% render 'blog-sidebar', blog_handle: blog.handle %}
    </div>
  </section>
{% endpaginate %}

{% schema %}
  {
    "name": "Blog post",
    "class": "shopify-section--article-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "slideshow_article_enabled",
        "label": "Show banner",
        "info": "The post's featured image will be used as a full-width banner",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "slideshow_post_darken",
        "label": "Darken banner image",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_tags",
        "label": "Show tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_social_buttons",
        "label": "Show social media share icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_comment_count",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional posts"
      },
      {
        "type": "checkbox",
        "id": "blog_additional_articles",
        "label": "Show additional posts",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "read_more_link",
        "label": "Show continue reading link",
        "default": true
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create a sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
     {
        "type": "post_tags",
        "name": "Blog post tags",
        "limit": 1
     },
     {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "custom_menu_linklist",
            "label": "Menu"
          }
        ]
     },
     {
        "type": "newsletter",
        "name": "Newsletter sign up form",
        "limit": 1,
        "settings": [
          {
           "type": "richtext",
           "id": "newsletter_richtext",
           "label": "Text"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "content_page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "recent_posts",
        "name": "Recent blog posts",
        "limit": 1
      },
      {
        "type": "search",
        "name": "Search form",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text area can be used for details about blog authors or general information.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
