{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<section class="section">
  <div class="container content">
    {% render 'product-structured-data' %}

    <div class="one-whole column breadcrumb breadcrumb__wrapper">
      <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
        <span>
          {{ 'general.breadcrumbs.home' | t }}
        </span>
      </a>

      <span class="icon-caret-right"></span>

      {% if collection %}
        <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
          <span>
            {{ collection.title }}
          </span>
        </a>
      {% else %}
        <a href="{{ routes.all_products_collection_url }}" title="{{ collections.all.title }}">
          {{ collections.all.title }}
        </a>
      {% endif %}

      <span class="icon-caret-right"></span>

      {{ product.title }}
    </div>
  </div>
</section>

<section class="section section--has-sidebar-option">
  <div class="container">
    {% section 'product__sidebar' %}
    {% section 'product-template' %}
    {% section 'product-recommendations' %}
  </div>
</section>
